.box{
    box-sizing: border-box;
}
.flex{ 
  display: flex;
  justify-content: center;
}
.align-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}

.fraunces-font {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.montserrat-font, .montserrat-font-large{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.montserrat-font-large{
    font-weight: 700;
}

.color-text{
  color: hsl(228, 12%, 48%);
}
.color-text2{
  color: hsl(158, 36%, 37%);
}
.color-text3{
  color: hsl(0, 0%, 100%);
}
.color-title{
  color: hsl(212, 21%, 14%);
}

body{ 
  background-color: hsl(30, 38%, 92%) ;
  width: 100vw;
  height: 100vh;
}

main{
  max-width: 750px;
  height: 500px;
  margin: 30px;
}

.container-img{
 width: 50%;
}
.img-product{
  width: 100%;
  height: 100%;
  border-radius: 5% 0 0 5%;
  object-fit: cover;
}

.container-text{
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  padding: 0 4.5rem 0 4.5rem;
  gap: 2rem;
  border-radius: 0 5% 5% 0;
}
.category{
  letter-spacing: 0.25rem;
  font-size: 14px;
}
.title{
  font-size: 35px;
}
.paragraph{
  font-size: 14px;
  line-height: 1.5rem;
}

.container-price{
  display: flex;
  gap: 1rem;
}
.price1{
  font-size: 35px;
}
.price2{
  font-size: 14px;
  text-decoration: line-through;
}

.button{
  background-color: hsl(158, 36%, 37%);
  padding: 10px;
  border: none;
  border-radius: 5%;
}
.button:hover{
  background-color: hsl(150, 30%, 30%);
}
.icon-cart{
  width: 10px;
}

@media screen and (max-width:750px) {
  main{
    flex-direction: column; 
    margin: 0; 
    align-items: center;
  }
  .container-img{
    width: 80%;
    height: 50%;
  }
  .img-product{
    border-radius: 5% 5% 0 0; 
  }
  .container-text{
    width: 80%;
    height: 50%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    gap: 0.25em;
   border-radius: 0 0 5% 5%;
  }
  .category{
    font-size: 10px;
  }
  .title{
    font-size: 25px;
  }
  .paragraph{
    font-size: 10px;
    line-height: 1.20rem;
  }
  .price1{
    font-size: 25px;
  }
  .price2{
    font-size: 10px;
  }
  .icon-cart{
    width: 10px;
  }
}